hr{
    color : 'snow';
}

/* NavBar */
.navbar{
    padding: 0 !important;
}

#hub-link{
    padding-left: 3rem;
}

#nav-list{
    text-align: right;
    display: inherit;
    padding-right: 3rem;
}

.nav-item{
    list-style-type: none;
}

.nav-link{
    color: lightgray;
    margin-top: .75rem;
}

.nav-link:hover, .nav-link[data-on = "true"]{
    color: white;
    font-weight: 500;
}

#avatar{
    margin: 0rem 2rem; 
    width: 12%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    padding: .3rem;
}

/* Intro */
body{
    background : url("https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro img{
    width: 25%;
    margin: -5rem auto 0 auto;
    border-radius: 50%;
}

#intro ul{
    margin-bottom: 0;
}

#intro{
    width: 40%;
    margin: 7rem auto;
}

.card{
    text-align: justify;
    margin: auto;
    margin-top: 3rem;
}

.card-title{
    text-align: center;
}

/* Work */

/* Footer */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
 }

footer ul{
    padding: 0;
}

footer ul i{
    padding-right: .4rem;
}

footer ul a{
    padding: 0 !important;
}

footer h3{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
}

footer p{
    margin: 0;
}

footer .row div:first-child{
    padding-left: 5rem;
}