hr{
    color : 'snow';
}

/* NavBar */
.navbar{
    padding: 0 !important;
    position: sticky !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 1;
}

#hub-link{
    padding-left: 3rem;
}

#nav-list{
    text-align: right;
    display: inherit;
    padding-right: 3rem;
}

.nav-item, #work li{
    list-style-type: none;
}

.nav-link{
    color: lightgray;
    margin-top: .75rem;
}

.nav-link:hover, .nav-link[data-on = "true"]{
    color: white;
    font-weight: 500;
}

#avatar{
    margin: 0rem 2rem; 
    width: 12%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    padding: .3rem;
}

/* Intro */
#root{
    background: rgb(208, 208, 238);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro img{
    width: 25%;
    margin: -5rem auto 0 auto;
    border-radius: 50%;
}

#intro ul{
    margin-bottom: 0;
}

#intro{
    width: 40%;
    margin: 7rem auto 4rem auto;
}

/* Work */
#work .card{
    height: 90%;
    margin-bottom: 1.5rem !important;
}

#work .card .card-title{
    background-color: #343a40;
    color: snow;
    font-weight: 350;
}

.card{
    margin: auto;
    margin-top: 1.5rem;
    text-align: left !important;
}

.card-title{
    text-align: center;
}

#work{
    text-align: center;
    margin: 0 5rem 2rem 10rem;
}

#work .spinner-border{
    margin: 2rem;
}

#work ul{
    padding-top: .5rem;
}

#work ul span{
    font-weight: bold;
}

.card-title{
    padding: .5rem !important;
}

.card-body{
    padding: 0rem 1.25rem 1.25rem 1.25rem !important;
}

.card-link{
    position: absolute;
    bottom: 0;
    display: block;
}

.h-beautify{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
}

#work h1{
    text-align: center;
}

#work .row{
    margin-bottom: 2rem;
}

#work .alert{
    color: #343a40;
    width: 50%;
    margin: auto;
    border: 1px solid #343a40;
}

/* Footer */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
 }

footer ul, #work ul{
    padding: 0;
}

footer ul i{
    padding-right: .4rem;
}

footer ul a{
    padding: 0 !important;
}

footer p{
    margin: 0;
}

footer .row div:first-child{
    padding-left: 5rem;
}